body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(img/background.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif; 

  
}

body::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none; 
  }



#heading{
    background:  linear-gradient(180deg,rgba(0,0,0,.10) 0,transparent);
    
}




#heading div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin:  auto ;
    padding: 30px;
    align-items: center;


}



#heading img{
    height: 45px;
    width: 167px;
    
}
#heading a{
    order: 2;
    height: 30px;
    padding: 4px 16px;
    color: #fff;
    background-color: #e50914;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    font-family: sans-serif;
    border-width: 0.0625rem;
    border-radius: 0.1875rem;
    border-color: rgba(0, 0, 0, 0);
    color:white;
    box-sizing: border-box;
    border-style: solid;
    transition: inherit;
    text-decoration: none;
    align-items: center;
    text-align: center;
    margin-left: 100px;
  
}

#heading a:hover {
    background-color: #fc1722;
    cursor: pointer;
}


.h1 h1{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size:  3.5rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 100%;
    line-height: 125%;
    text-align: center;
    margin-top: 100px;
}



.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-self: center;

}

.h2{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.form p{
    color: #fff;
    font-size: 15px;
}

.form input{
   
    width: 20%;
  padding: 25px;
  border: 1px solid;
  border-bottom: 2px solid transparent;
  outline: none;
  background-color: rgba(18, 18, 18, 0.8); 
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;
  transition: border-bottom-color 0.3s ease-in-out;
  border-color: #ffffff;
 

}

.submit{
    background-color: #e50914;
    padding: 20px;
    width: 10%;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.submit:hover {
    background-color: #fc1722;
}

